 <!-- Company -->
 <section class="container-fluid">
  <div class="row info text-center">
    <div class="container">
        <h4 class="text-center">{{company}}</h4>
        <img class="comp-img" src="assets/images/comp-1.webp" />
        <img class="comp-img" src="assets/images/comp-2.webp" />
        <img class="comp-img" src="assets/images/comp-3.webp" />
        <img class="comp-img" src="assets/images/comp-4.webp" />
        <img class="comp-img" src="assets/images/comp-5.webp" />
        <img class="comp-img" src="assets/images/comp-6.webp" />
    </div>
  </div>
</section>
<!-- Company -->


<router-outlet></router-outlet>
