 <!-- Search -->
 <section class="container-fluid">
  <div class="row search">
    <div class="col-md-6">
        <div class="form-inline">
          <input type="email" class="form-control" id="email">
          <button type="submit" class="btn">{{btn_action}}</button>
        </div>
    </div>
    <div class="col-md-3">
        <p class="">Cart Total = Rs. {{c_total}}</p>
        <p class="">Cart Items = {{c_item}}  {{cart_value}}</p>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn" data-toggle="modal" data-target="#myModal">{{cart_btn}}</button>
    </div>
  </div>
</section>
<!-- Search -->

<!-- Item List -->
<section class="container-fluid py-5">
  <div class="r0w">
    <h4 class="text-center mb-4">{{item_title}}</h4>
  </div>
  <div class="row all-items">
    <div *ngFor="let item of productList" class="col-sm-6 col-md-3 col-lg-2 item-block">
      <div class="card">
        <img class="items-img" [src]="item.product_image">
        <div class="card-body">
          <i class="fa fa-cart-plus" (click)="addToCart($event, item.product_id, item.product_name, item.product_price)"></i>
          <h4 class="card-title">{{item.product_name}}</h4>
          <p class="card-item-price">Rs. {{item.product_price}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Item List -->

<!--Cart Modal-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cart Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body cart-body">
        <table class="table">
          <thead>
            <tr>
              <th>S No.</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Quantity</th>
              <th>Product Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pd of cart; index as i">
              <td>{{i+1}}</td>
              <td>{{pd.Product_ID}}</td>
              <td>{{pd.Product_Name}}</td>
              <td>1</td>
              <td>{{pd.Product_Price}}</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>{{c_item}}</th>
              <th>{{c_total}}</th>
            </tr>
          </thead>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn">Checkout</button>
      </div>

    </div>
  </div>
</div>
<!--Cart Modal-->

<router-outlet></router-outlet>
