/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {font-family: 'Assistant', sans-serif;}
p {margin-bottom:0}
h4 {
    font-family: 'Pacifico', cursive;
    color: #000;
}
.btn {
    font-family: 'Pacifico', cursive;
    background-color: #ff896b;
}
/*font-family: 'Montserrat', sans-serif;*/